@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.input{
  @apply w-full bg-white border border-gray-300 rounded-lg px-3 py-2.5 text-sm 
  outline-none transition-all duration-200
  focus:border-black focus:ring-2 focus:ring-black/10;
}

.remove-btn{
  @apply bg-red-50 text-red-600 rounded-lg px-3 py-2 text-sm hover:bg-red-100 transition;
}

.add-btn{
  @apply bg-black text-white px-4 py-2 rounded-lg text-sm hover:opacity-90 transition;
}
